

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625em;
    margin-top: 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
} 

h3 {
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #FFF8EA;
    
    padding-top: 100px;
    position: relative;
    top: 0;
    bottom: 100;
}


.middle-container {
    
    min-width: 100%;
}
.bottom-container {
    
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    bottom: 300px;
    left: 300px;

}

.personal-picture {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-attrib {
    font-size: 10px;
}

.coffee-img {
    height: 150px;
    
}

.dev-image {
    height: 150px;
}

.mountain-img {
    max-width: 100%;
    height: auto;
}

